<launch>

<arg name="robot_id" default="aristos"/>
<arg name="prefix" default="aristos_" />
<arg name="pub_odom_tf" default="true" />
<arg name="config_dir" default="$(find roboteq_motor_controller_driver)/config/query.yaml"/>
<arg name="use_imu" default="true"/>
<arg name="imu_topic" default="/aristos/imu/data"/>
<arg name="driver_port" default="/dev/ttyS2"/>
<arg name="odometry_enabled" default="true"/>
<arg name="abs_count_topic" default="abs_hall_count"/>
<arg name="count_topic" default="hall_count"/>


<rosparam command="load" file="$(arg config_dir)" subst_value="true"/>

<node name = "roboteq_motor_controller_driver" pkg = "roboteq_motor_controller_driver" type = "roboteq_motor_controller_driver_node" output = "screen" respawn="true">
    <param name="pub_odom_tf" value="$(arg pub_odom_tf)" />
</node>

<node name = "diff_odom" pkg = "roboteq_motor_controller_driver" type = "diff_odom" output = "screen" if="$(arg odometry_enabled)">
    <remap from="abs_hall_count" to="$(arg abs_count_topic)"/>
    <remap from="hall_count" to="$(arg count_topic)"/>
</node>
</launch>
