<launch>

<arg name="robot_id" default="greensprayer"/>
<arg name="prefix" default="greensprayer_" />
<arg name="pub_odom_tf" default="true" />
<arg name="config_dir" default="$(find roboteq_motor_controller_driver)/config/query.yaml"/>
<arg name="use_imu" default="false"/>
<arg name="imu_topic" default="/aristos/imu/data"/>
<arg name="driver_port" default="/dev/ttyS5"/>
<arg name="odometry_enabled" default="true"/>


<rosparam command="load" file="$(arg config_dir)" subst_value="true"/>

<node name = "roboteq_motor_controller_driver" pkg = "roboteq_motor_controller_driver" type = "roboteq_motor_controller_driver_node" output = "screen">
    <param name="pub_odom_tf" value="$(arg pub_odom_tf)" />
</node>

<!-- <node name = "diff_odom" pkg = "roboteq_motor_controller_driver" type = "diff_odom" output = "screen" if="$(arg odometry_enabled)"/> -->


</launch>
